body {
    background-color: linear-gradient(#ccaabb, #C197D2)
}


img {
    background-color:
    #d79add;
}

button {
background-color:
#c598bd;
}

.proyectos {
background-color:
#daa6ba;
}

#encabezado {
background-color:
#A47786;
}

#bio {
background-color:
#c998a9;
}

#tituloDestacados {
background-image:linear-graden(" to right")
#c99696
}

#contenedorProyectos {
background-color:
#f1bcce
}




