body{
    background-color: rgb(255, 255, 255);
}
h1{
    background-color: rgb(255, 247, 201);
}
h2{
    background-color: rgb(252, 206, 174);
}
p{
    background-color: rgb(255, 175, 175);
}
#ciudadesycomidasdeargentina{
    background-color: aquamarine;
}
ul{
    background-color: rgb(255, 203, 184);
}