body {
    background-color: rgb(222, 122, 247);
}

h1{
    background-color: rgb(243, 161, 250);
}

#contenedorProyectos{
    background-color: #f57dbf;
}

.proyectos {
    background-color: #fd46ab;
}