body {
    background-color: rgb(241, 235, 225);
}

#img {
    height: 100px;
    width: 750px;
}

h1 {
    background-color: rgb(230, 235, 213);
}

.comidas {
    background-color: rgb(238, 231, 221);
}

.ciudad {
    background-color: rgb(231, 231, 213);
}

#MiEncabezado {
    background-color: rgb(235, 240, 224);
    text-align: center;
    
}


















