
body{
    background-color: rgb(76, 160, 185);
}
h1{
    text-align: center;
    background-color: rgb(43, 107, 226);
    border: beige dashed 5px;
    font-size: 40px;
}
h2{
    background-color: rgb(81, 187, 187);
    
}
p{
    background-color: rgb(210, 230, 240);
    font-size: 20px;
}
img{
    border: beige dotted 8px;
}

#img2{
    float: left;
    margin: 30px;
}

ol{
    float: none;
    margin: 20px;
    color: white;
    font-size: 23px;
}