body {
    

    background-color: aqua;
    }
    
    H1{
    
    text-align: center;
    background-color: aquamarine;
    }
    
    H2{
    
    background-color: antiquewhite;
    }
    
    P{
    
    background-color: rgb(160, 178, 236);
    }
    
    comida{
    
        background-color: blanchedalmond;
    }