h1{
    background-color: lightcyan;
    text-align: center;
}

h3{
    background-color: rgb(207, 226, 233);
}

p{
    background-color: lightcyan;
}

h5{
    background-color: lightcyan;
    text-align: center;
}

h4{
    background-color: lightcyan;
    text-align: center;
}