body{
    background-image:url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: 200%;
}

div{
    float: left;
    border: rgb(213, 252, 162) solid 6px;
    margin: 15px;
    padding: 5px;
}

img{
    width: 300px;
    height: 300px;
}

h1{
    font-size: 50px;
    text-align: center;
    background-color: rgb(106, 245, 106);
    color: black
}

h6{
    float: left;
    color: rgb(209, 235, 116);
    margin: 15px;
}

p{
    float: left;
    border: rgb(213, 252, 162) solid 6px;
    margin: 15px;
    padding: 8px;
    background-color: rgb(106, 245, 106);
}