body {
  background-image: linear-gradient(#928D89, #FF8882 )
}
/* 

img {
 background-color:
  #C5E5A5
  #98B66E
  #F9D876
  #FBE39D
}

   button {
    background-color:
    #928D89 
    #FF8882
    #FFA384
    #E4E69B;
   }

   .proyectos {
     background-color: 
    #04F9F2
    #0091E7
    #005BEA
    #0000FF;
     
   }
  
   #encabezado {
     background-color:
     #FDD264    
     #FFC680
     #F56B39
     #670305;
     
   }

   #bio {
   background-color: 
  #F1BECA
  #B95C50
  #CD7E7F
  #F3E4E2;
 
  }
  
  #tituloDestacados {
    background-image: linear-gradient (to right,)
    #FBDD00
    #E9A200
    #B32800 
    #7F0000;

  }

  #contenedorProyectos
    background-color: linear-gradient(to botton right,)
    #3D550C
    #81B622
    #ECF87F
    #59981A
    #59981A
 */
