body{
    font-family: 'Times New Roman', Times, serif;
    background-color: lightcyan;
}
div{
    background-color: cadetblue;
}
h1,h2{
    background-color: aquamarine;
}
img{
    width: 200px;
    height: 200px;
}
#arreglopiñacolada{
    width: 350px;
    height: 350px;
}
.ingredientes{
    border: lightgreen solid 5px;
}
 button {
     padding: 20px;
     font-size: 40px;
     font-family: cursive;
 }
 ol{
     font-size: 30px;
     color: rgb(225, 225, 64);
 }
 p{
     font-size: 20px;

 }
 h1{
     text-align: center;
     font-size: 300%;
 }