body{
   background-color: blueviolet;
}

h1{
    background-color: rgb(187, 97, 233);
    font-size: 40px;
    border: rgb(247, 179, 215) dotted 6px;
}   

h2{
background-color: cornflowerblue;
}

p{
    background-color: aqua;
    font-size: 23px;
}

img{
    border: deeppink dashed 6px;
    
}


 





















